.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100%;
    width: 100px;
    height: 100px;
}

.main-nav a {
    text-decoration: none;
    color: inherit;
}

.main-nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.main-nav li {
    padding: 10px;
    list-style: none;    
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}

.check {
	position: relative;
	background: linear-gradient(90deg, #f19af3, #f099b5);
	line-height: 0;
	perspective: 400px;
}

.check input[type="checkbox"],
.check label,
.check label::before,
.check label::after,
.check {
	appearance: none;
	display: inline-block;
	border-radius: 1rem;
	border: 0;
	transition: .35s ease-in-out;
	box-sizing: border-box;
	cursor: pointer;
}

.check label {
	width: 2.2rem;
	height: 1rem;
	background: #d7d7d7;
	overflow: hidden;
}

.check input[type="checkbox"] {
	position: absolute;
	z-index: 1;
	width: .8rem;
	height: .8rem;
	top: .1rem;
	left: .1rem;
	background: linear-gradient(45deg, #dedede, #ffffff);
	box-shadow: 0 6px 7px rgba(0,0,0,0.3);
	outline: none;
}

.check input[type="checkbox"]:checked {
	left: 1.3rem;
}

.check input[type="checkbox"]:checked + label {
	background: transparent;
}

.check label::before,
.check label::after {
	content: "· ·";
	position: absolute;
	overflow: hidden;
	left: .15rem;
	top: .5rem;
	height: 1rem;
	letter-spacing: -.04rem;
	color: #9b9b9b;
	font-family: "Times New Roman", serif;
	z-index: 2;
	font-size: .6rem;
	border-radius: 0;
	transform-origin: 0 0 -.5rem;
	backface-visibility: hidden;
}

.check label::after {
	content: "●";
	top: .65rem;
	left: .3rem;
	height: .1rem;
	width: .35rem;
	font-size: .2rem;
	transform-origin: 0 0 -.4rem;
}

.check input[type="checkbox"]:checked + label::before,
.check input[type="checkbox"]:checked + label::after {
	left: 1.55rem;
	top: .4rem;
	line-height: .1rem;
	transform: rotateY(360deg);
}

.check input[type="checkbox"]:checked + label::after {
	height: .16rem;
	top: .55rem;
	left: 1.6rem;
	font-size: .6rem;
	line-height: 0;
}

#about_us{
	width: 90%;
	float: left;
	background-color:#fafafa;
	border: 1px solid silver;
	border-radius: 5px;
	box-sizing: border-box;
	padding-left: 10px;
	margin: 10px 0px;
}
#our_cars{
	width: 80%;
	text-align: center;
	float: left;	
}
#about_us_title{
	text-align: center;
}
#about_us img{
	float: left;
	width: 250px;
	height: 200px;
	margin: 7px 20px 7px 7px;
}
#about {
	width: 60%;
	float: left;
	background-color:#fafafa;
	border: 1px solid silver;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 1%;
}
#columRight{
	width: 30%;
	float: left;
	margin-left:5%;
    background-color:#fafafa;
	border: 1px solid silver;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 1%;
}
li{
    list-style-type: none;
}
footer{
	width: 98%;
	background-color: #fff;
	position: absolute;
}
body{
	display: flex;
	flex-direction: column;	
}